.app__header {
    background-color: var(--color-black);
    padding: 20px 20px;
    display: flex;

}

.app__wrapper_info {
    color: white;
    width: 40%;
    align-items: center;
}

.app__header-h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.app__header-p {
    color: white;
    font-size: 18px;
    padding: 20px 0px;
    text-align: center;
}

.app__wrapper_img{
    text-align: center;
}


@media screen and (max-width: 2000px){

}

@media screen and (max-width: 1150px){
    .app__header {
        display: block;
    }

    .app__wrapper_info {
        width: 100%;
    }
}

@media screen and (max-width: 650px){

    .app__header {
        display: block;
    }
    
}

.slide-img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    
}

.img-wrapper.active {
    margin: 100px;
    transition-duration: 1s ;
    transform: scale(1.08);
}


.img-wrapper {
    margin: 100px;
    transition-duration: 1s ease;
}

.left-arrow {
    position:absolute;
    top: 80%;
    left: 50px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    font-size: 100px;
    color: black;
}

.right-arrow {
    position:absolute;
    top: 80%;
    right: 50px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    color: black;
}